  /* GENERALI */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .clearfix:after {
    content: '';
    display: table;
    clear: both;
  }
  
  .float-left{
    float: left;
  }

  .z-index{
    z-index: 999;
    position: fixed;
  }

  body{
    min-width: 2000px;
  }

  header{
    width: 100%;
  }

  .btn{
    border-radius: 5px;
    border: 1px solid black;
  }

  .container-100{
    width: 100%;
    height: 100px;
    min-width: 2000px;
  }

  .container-50{
    width: 50%;
    height: 500px;
    border: 1px solid black;
  }

    /* SEZIONE HEADER  */

    /* SEZIONE MENU FISSO  */

  .container-80{
   
 
    position: relative;
    width: 80%;
    height: 100%;
    margin: auto;
  }
  .background{
    background-color: #F4F9FD;
    border-bottom: 1px solid black;
  }

  .sezione-menu{
    width: auto;
    text-align: center;
    font-size: 25px;
    margin-top: 1.3%;
  }

  

  ul li{
    width: auto;
    list-style: none;
    text-decoration: none;
    margin-right: 40px;
  }

  .menu-left{
    position: absolute;
    top: 25%;
  }

  .us, .icona{
    line-height: 25px;
  }

  .us{
    padding-top: 1.9%;
    border-left: 1px solid black;
    padding-left: 40px;
  }

  .menu-destra{
    position: absolute;
    right: 0;
    top: 28%;
   
  }
  .get{
    width: 250px;
    background-color: #FF765A;
    color: white;
    border-color: #FF765A;
  }

  .get h3{
    border-color: #FF765A;
  }

  ul li a{
    width: 100%;
    font-size: 25px;
    text-decoration: none;
    color: #3D4F5E;
  }

  .log h3{
    color: #FF765A;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-color: #FF765A;
  }
  
  .icona{
   color: #5DAEBE;
   margin-top: 7%;
  }


     /* / SEZIONE MENU FISSO  */

     /* SEZIONE SECONDO MENU  */

  .logo{
    position: absolute;
    top: 50%;
    transform: translate(3%, -50%);
  }   

  .menu-logo{
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate( 0, -50%);
  }

       /* / SEZIONE SECONDO MENU  */

       /* SEZIONE BANNER HEADER  */
  
  .background-header{
    width: 100%;
    height: 500px;
    
  }     

  .background-header .right{
    background-image: url(../img/jumbotron.png);
    background-size: contain;
    background-repeat: no-repeat;
  }